

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color:lightpink;
  width: 100vw;
  display: flex;
  place-items: center;
  
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

nav {
  width: 100%;
  background-color: lightcoral;
}

a {
  padding: 8px;
}
